/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #9de1c5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #1e6f5c;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000;
}

.input-box {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

textarea {
    resize: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.btn {
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    width: 48%;
}

button a{
    color: #000;
    text-decoration: none;
}

.btn-primary {
    background-color: #ffa726;
}

.btn-danger {
    background-color: #ffa726;
}

.btn-primary:hover {
    background-color: #ff9800;
}

.btn-danger:hover {
    background-color: #ff9800;
}
