body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9de1c5;
    color: #f0f6fc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #1e6f5c;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: white;
}

nav {
    background-color: #21262d;
    padding: 10px;
    text-align: center;
}

nav a {
    color: yellow;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #4caf50;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.feature {
    margin-bottom: 20px;
}

.feature h2 {
    color: #21262d;
}

.feature p{
    text-align: justify;
}

footer {
    background-color: #1e6f5c;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table,
th,
td {
    border: 1px solid #f0f6fc;
}

th,
td {
    padding: 10px;
    text-align: left;
    background-color: #21262d;
}

th {
    background-color: #000;
}

button {
    background-color: #ffa726;
    color: #161b22;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ff9800;
}

.columns{
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.75rem;
    display: flex;
}

.column{
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.column img{
    width: 100%;
    flex: start;
}

.columns.is-mobile>.column.is-half {
    flex: none;
    width: 50%
}